{% extends 'base.html' %}
{% block title %}
Login page
{% endblock %}
{% block content %}
<body class="text-center">
   <div class="container">
      <h2>Please login to continue</h2>
      <form method="post">
         {{ login_form.hidden_tag() }}

         {{ login_form.email.label() }}
         {{ login_form.email(class="form-control",placeholder="Email") }}
         {{login_form.password.label() }}
         {{ login_form.password(class="form-control",placeholder="Password") }}
         <br>
         {{ login_form.submit(class="btn btn-lg btn-primary") }}
      </form>
   </div>
</body>
{% endblock %}