{% extends 'base.html' %}
{% block title %}
Regster page
{% endblock %}
{% block content %}
<body class="text-center">
   <div class="container">
      <h2>Please fill out the form below</h2>
      <form method="POST">
         {{ register_form.hidden_tag() }}
         {{ register_form.name.label() }}
         {{ register_form.name(class="form-control",placeholder="Name") }}
         {{ register_form.last_name.label() }}
         {{ register_form.last_name(class="form-control",placeholder="Lastname") }}
         {{ register_form.address.label() }}
         {{ register_form.address(class="form-control",placeholder="Home address") }}
         {{ register_form.city.label() }}
         {{ register_form.city(class="form-control",placeholder="City") }}
         {{ register_form.country.label() }}
         {{ register_form.country(class="form-control",placeholder="Country") }}
         {{ register_form.phone.label() }}
         {{ register_form.phone(class="form-control",placeholder="Phone number") }}
         {{ register_form.email.label() }}
         {{ register_form.email(class="form-control",placeholder="Email") }}
         {{ register_form.password1.label() }}
         {{ register_form.password1(class="form-control",placeholder="Password") }}
         {{ register_form.password2.label() }}
         {{ register_form.password2(class="form-control",placeholder="Confirm your password") }}
         <br>
         {{ register_form.submit(class="btn btn-lg btn-primary") }}
      </form>
   </div>
</body>
{% endblock %}